*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.about{
    width: 100%;
    height: 80%;
}
.about__contact{
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.about__title{
    width: 100%;
    height: 100%;
    padding-top: 30%;
}
.about__title h1{
    text-align: end;
    margin-bottom: 1.8rem;
}
.about__title p{
    text-align: end;
    opacity: 0.6;
    font-weight: 900;
    margin-bottom: 3.5rem;
}
.about__title button{
    text-transform: capitalize;
    color: white;
    border: none;
    background-color: #6EBCA8;
    padding-left: 9%;
    padding-bottom: 1rem;
    padding-right: 9%;
    padding-top: 1rem;
    border-radius: 15px;
    margin-left: 68%;
}

.about__title2{
    width: 100%;
    height: 100%;
    padding-top: 30%;
}
.about__title2 h1{
    text-align: start;
    margin-bottom: 1.8rem;
}
.about__title2 p{
    text-align: start;
    opacity: 0.6;
    font-weight: 900;
    margin-bottom: 3.5rem;
}
.about__title2 button{
    text-transform: capitalize;
    color: white;
    border: none;
    background-color: #FDD31D;
    padding-left: 9%;
    padding-bottom: 1rem;
    padding-right: 9%;
    padding-top: 1rem;
    border-radius: 15px;
}